<div id="search-component">
  <h4><label for="search-box">Hero Search</label></h4>

  <mat-form-field class="example-full-width">
    <input #searchBox matInput placeholder="Start typing Hero names" id="search-box" (input)="search(searchBox.value)">
  </mat-form-field>
  <!-- <input #searchBox id="search-box" (input)="search(searchBox.value)" /> -->

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
